
* {
    margin: 0px;
    padding: 0px;
}

@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

body{ 
    font-family: 'Noto Sans CJK JP', sans-serif;
    color: #010922;

    }

header {
    height: 80px;
    background-color: #E9F6FE;
    align-items: right;

}

article {
    float: right;
    text-align: center;
    display: flex;
    width: 1120px;
    border-left: 2px solid #E4E4E5;
}

aside {
    float: top-left;
    width: 320px;
    text-align: center;
    padding-top: 40px;


}

ul {
    list-style-type: none; 
}

/* header icons setting */

header h1{
    float: right;
    padding-top: 20px;
    padding-right: 30px; 

}

header h1 img {
    padding-right: 50px;

}

/* Weekly Calendar */
.weekly {
    text-align: center;
    float: top;

 
}



/* Weekly Calendar Timeline */
.time {
    float: left;
    margin: 0;
    font-size: 12px;
    color: #818289;
    display: table;
    vertical-align: top;
    margin-top: 10px;
 
}

.time li{
    width: 80px;
    text-align: right;
    padding-top: 21.5px;
    padding-bottom:21.5px;

}

.time li .half{
    width: 80px;
    text-align: right;
    height: 30px;
}

/* Weekly Calendar Weekdays */


.weekdays {
    float: right;
    margin-right: 40px;
    padding: 0;
    font-size: 24px;
    vertical-align: top;
    display: table;
    
    }
.weekdays li{
   width: 140px;
    height: 30px;
    border: 0px;
    margin: 0px;
    display: table-cell;
    
    }


.weekdays li .weekday{
    font-size: 16px;
    border: 0;
    }
.weekdays li .active{
        color: #B78F00;
        font-size: 16px;
        border: 0;
    }

.padding {
    float: right;
    margin-right: 40px;
    padding: 0;
    vertical-align: top;
    display: table;
        
    }
.padding li{
   width: 140px;
    height: 30px;
    border: 0.5px solid #E4E4E5;
    border-top: 0px;
    border-bottom: 1.5px solid #E4E4E5;
    margin: 0px;
    display: table-cell;
        
        }
 

/* Weekday Calendar Days */

.week {
    float: right;
    margin-right: 40px;
    padding: 0;
    font-size: 24px;
    vertical-align: top;
    display: table;
  
}

.week li{
    width: 140px;
    height: 60px;
    border: 0.5px solid #E4E4E5;
    margin: 0px;
    display: table-cell;

}

.week li .active{
    color: #B78F00;
}





/* Month header */
.month {
    width: 100%;
    font-size: 24px;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month .year {
    font-size: 14px;
}


/* Previous button */
.month .prev {
    float: left;
    padding-top: 30px;
    padding-left: 40px;
    font-size: 16px;
    color: #818289;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 30px;
    padding-right: 40px;
    font-size: 16px;
    color: #818289;
}


/* Monthly Calendar days */
.days {
    margin: 0;
    font-size: 16px;
    display: inline-block;
    padding: 5px;
}

.days .li{
    display: inline-block;
    margin: 0;
}


.days li .nonActive {
    font-size: 16px;
    color: #818289;

}

/*highlight the "current" day */
.days li .active {
    background: #C2DDED;
    width: 25px;
    height: 25px;
    padding-left: 8.5px;
    padding-right: 8.5px;
    padding-top: 0px;
    padding-bottom: 1px;
    border-radius: 50%;
 
    
} 


/* buttons */
.buttons {
    margin-top: 60px;
}

.buttons p {
    margin-bottom: 10px;
}

.button1 {
    background-color: #3D5AC2; 
    border: none;
    color: white;
    padding: 13px;
    width: 160px;
    border-radius: 23.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
}

.button1:hover {
    background-color: #FFFFFF; 
    border: solid 1px #3D5AC2;
    color: #3D5AC2;
    padding: 12px;
    width: 160px;
    border-radius: 23.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.button2 {

    background-color: #B78F00; 
    border: none;
    color: white;
    padding: 13px;
    width: 160px;
    border-radius: 23.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
}

.button2:hover {
    background-color: #FFFFFF; 
    border: solid 1px #B78F00;
    color: #B78F00;
    padding: 12px;
    width: 160px;
    border-radius: 23.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.button3 {
    background-color: #FFFFFF; 
    border: solid 1px #3D5AC2;
    color: #3D5AC2;
    padding: 12px;
    width: 160px;
    border-radius: 23.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
}

.button3:hover {
    background-color: #FFFFFF; 
    border: solid 1px #3D5AC2;
    color: #3D5AC2;
    padding: 12px;
    width: 160px;
    border-radius: 23.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}